/* Element Styling */
body, html {
    height: 100%;
    background: url("../img/BGimg1.jpg") no-repeat center;
    background-size: cover;
    overflow-x: hidden;
}

main {
    justify-self: center;
}

nav {
    border: 2px solid #a79c9c;
    background: #1f1513;
}

nav li:hover {
    background: #2b1c1b;
}

nav a {
    color: #e4dada !important;
}


/* Class Styling */
.active {
    background: #2b1c1b !important;
    color: #bd8c35 !important;
}

.firstNavUl {
    border-right: 1px solid #a79c9c;
}

.lastNavUl {
    border-left: 1px solid #a79c9c;
}

.box {
    background: #1f1513;
    border: 1px solid #a79c9c;
    color: #e4dada;
    padding: 12px;
}

.footer  {
    display: flex;
    justify-content: space-between;
}

.left, .right {
    flex-grow: 1;
    flex-basis: 0;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.imgBox {
    background: #1f1513;
    border: 1px solid #a79c9c;
    color: #e4dada;
    padding: 0;
}

.imgBox img {
    height: 450px;
    border: 1px solid #a79c9c;
}

.sectBox {
    background: #1f1513;
    border-left: 2px solid #bd8c35;
    border-right: 2px solid #bd8c35;
    color: #e4dada;
    padding: 12px;
    text-align: left;
}

.sectHead {
    color: #bd8c35;
}

.sectListingBox {
    border: 1px solid #a79c9c;
    padding: 12px;
}

    /* ID Styling*/
#container {
    width: 100%;
    max-width: 1020px !important;
    height: 100vh;
}

#banner {
    height: 120px;
    border: 2px solid #a79c9c;
    border-bottom: none;
    background: #1f1513;
    color: #e4dada !important;
}

#mainPhoto {
    width: 100%;
    height: 440px;
    border: 2px solid #a79c9c;
    border-top: none;
}

#bookingButton {
    background: #bd8c35;
}

